email-validator>=2.2.0
flask>=3.1.0
flask-sqlalchemy>=3.1.1
psycopg2-binary>=2.9.10
trafilatura>=1.12.2
notion-client>=2.2.1
beautifulsoup4>=4.12.3
requests>=2.32.3
sqlalchemy>=2.0.36
beautifulsoup4
flask
flask-sqlalchemy
notion-client
psycopg2-binary
requests
sqlalchemy
trafilatura
python-dotenv
